<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1154.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10C76C7221ABB6DA003F0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C76C8621ABB6DC003F0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C76C9121ABB6DC003F0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
